.App {
    overflow: hidden;
  }
  
  .add-btn {
    display: inline-block; 
    padding: 0.3em 1em;
    color: white;
    cursor: pointer;
    margin: 1.5em;
    background: rgb(35, 196, 35);
  }
  
  .flex-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin: 1.5em;
  }
  
  .flex-container div {
    flex: 1;
  }