.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 1.5em;
  }

.flex-container div {
    flex: 1;
}

.delete-button {
    color: white;
    background: rgb(0, 0, 0);
    display: inline-block;
    padding: 0.2em 1em;
    cursor: pointer;
}