.add-btn {
    display: inline-block; 
    padding: 0.3em 1em;
    color: white;
    cursor: pointer;
    margin: 1.5em;
    background: rgb(35, 196, 35);
  }

.back-btn {
    margin: 1.5em;
    margin-top: 1.5em;
    color: black;
}

input {
    border: solid black 1px;
    border-radius: 2px;
    font-size: 1.5em;
    padding-left: 0.5em;
}

.input-section {
    padding-left: 1.5em;
}

.user {
    margin-left: 1.5em;
    margin-top: 1em;
}

